<!DOCTYPE html>
<html lang="de" ng-app="Cupcoffeelogin">
<head>
    <meta charset="UTF-8">
    <title>Cupcoffe Login</title>
    <script src="sources/angular.min.js"></script>
    <script src="sources/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="sources/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link href="signin.css" rel="stylesheet">
    <script language="javascript" type="text/javascript" src="scripts/logincontrol.js"></script>
</head>
<body >

<div ng-view="homepageview" class="container" ng-controller="logincontroller" nt-init="showregflak='false'" ng-view="loginvie">
  <!-- loginAlertWarning = Falscherlogin -->
    <div id="loginAlertwarning" class="alert alert-danger " role="alert">
       <button type="button" class="close" aria-label="Close" id="worngAlarmLoginBtn">x</button>
        <label id="loginAlertmsg">Falscher Login!</label>
    </div>
    <!-- loginAlertwelcome = Richtige Daten -->
    <div id="loginAlertwelcome" class="alert alert-success" role="alert">
        <button type="button" class="close" aria-label="Close" id="welcomeAlarmBtn">x</button>
        <label id="loginWelcomemsg">Willkommen!</label>
    </div>
    <form class="form-signin">
        <h2 class="form-signin-heading">CupCoffee Login</h2>
        <label class="sr-only">Name</label>
        <input type="name" id="inputname" class="form-control" placeholder="Name" ng-model="username" autofocus>
        <label for="inputPassword" class="sr-only" >Password</label>
        <input type="password" id="inputPassword" class="form-control" ng-model="userpassword" placeholder="Password">
        <button id="submitbtn"class="btn btn-lg btn-primary btn-block" type="submit"  ng-click="submit(username,userpassword)" >Sign in</button>
    </form>
</div>

</body>
</html>