<!DOCTYPE html>
<html lang="de" ng-app="Cupcoffeelogin">
<head>
    <meta charset="UTF-8">
    <title>Cupcoffe Login</title>
    <script src="sources/angular.min.js"></script>
    <script src="sources/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="sources/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link href="signin.css" rel="stylesheet">
    <script language="javascript" type="text/javascript" src="scripts/logincontrol.js"></script>
</head>
<body >

<div ng-init="init()" ng-controller="loginmaincontroller">
    <div ng-view="homepageview" class="container" ng-controller="authenticationctrl" ng-show='showloginflag'>
      <!-- loginAlertWarning = Falscherlogin -->
        <div id="loginAlertwarning" class="alert alert-danger " role="alert">
           <button type="button" class="close" aria-label="Close" id="worngAlarmLoginBtn">x</button>
            <label id="loginAlertmsg">Falscher Login!</label>
        </div>
        <!-- loginAlertwelcome = Richtige Daten -->
        <div id="loginAlertwelcome" class="alert alert-success" role="alert">
            <button type="button" class="close" aria-label="Close" id="welcomeAlarmBtn">x</button>
            <label id="loginWelcomemsg">Willkommen!</label>
        </div>
        <form class="form-signin">
            <h2 class="form-signin-heading">CupCoffee Login</h2>
            <label class="sr-only">Name</label>
            <input type="name" id="inputname" class="form-control" placeholder="Name" ng-model="username" autofocus>
            <label for="inputPassword" class="sr-only" >Password</label>
            <input type="password" id="inputPassword" class="form-control" ng-model="userpassword" placeholder="Password">
            <button id="submitbtn"class="btn btn-lg btn-primary btn-block" type="submit"  ng-click="submit(username,userpassword)" >Sign in</button>
            <button id="registerbtn"class="btn btn-lg btn-primary btn-block" type="submit"  ng-click="showregister()" > Register</button>
        </form>
    </div>

    <div ng-view="homepageregisterview" class="container" ng-controller="registercontroller"  ng-show="showregflag">

        <div id="PasswordWarning" class="alert alert-danger " role="alert">
            <button type="button" class="close" aria-label="Close" id="WorngPasswordBtn">x</button>
            <label id="WrongPasswordWarning">Das eingegebene Passwort stimmt nicht überein!</label>
        </div>

        <div id="successfullcreation" class="alert alert-success " role="alert">
            <button type="button" class="close" aria-label="Close" id="successfullUSRcreate">x</button>
            <label id="successfullUSR">Der Benutzer {{userregname}} wurde erfolgreich erstellt !</label>
        </div>

        <form class="form-signin"><!--bla-->

            <div>

                <div> Benutzernamen eintragen<input ng-model="userregname"type="text" class="form-control" aria-label="..."></div>

            </div>

            <div class="input-group">
                <div> Passwort eintragen<input ng-model="userregpassword1" type="password" class="form-control" aria-label="..."></div>
                <div>Passwort wiederholen<input ng-model="usrregpassword2" type="password" class="form-control" aria-label="..."></div>
                <button class="btn btn-lg btn-success btn-block" type="submit" ng-click="register(userregname,userregpassword1,usrregpassword2)">Registrieren</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>