<!DOCTYPE html>
<html lang="de" ng-app="CupCoffeeMainpage">
<head>
    <meta charset="UTF-8">
    <title>Useroptions</title>
    <link href="signin.css" rel="stylesheet">
    <link rel="stylesheet" href="sources/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <script src="sources/angular.min.js"></script>
    <script src="scripts/maincontrol.js"></script>
    <script src="sources/jquery-2.1.4.min.js"></script>
</head>
<body>
<div ng-controller="mainpagecontroller">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" id="backlink">CoffeeCup</a>  <!--Prüfen-->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"><!-- linker Teil der navbar realisierbar mit einer unordered list-->
                <ul class="nav navbar-nav navbar-right"><!-- rechter Teil der navbar-->
                    <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Passwort ändern</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>Abmelden</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div ng-controller="changePasswordCtrl">
        <div id="WorngChangePassword" class="alert alert-danger " role="alert">
            <button type="button" class="close" aria-label="Close" id="WorngChangePasswordBtn">x</button>
            <label id="WorngChangePasswordWarning">Das eingegebene Passwort stimmt nicht überein!</label>
        </div>

        <div id="successfullChangePassword" class="alert alert-success " role="alert">
            <button type="button" class="close" aria-label="Close" id="successfullChangePasswordBtn">x</button>
            <label id="successfullChangePasswordWarning">Das Passwort wurde erfolgreich aktuallisiert!</label>
        </div>



        <form class="form-signin">

            <div class="panel panel-default">
                <div class="panel-body">
                    Passwort ändern
                </div>
            </div>

            <div class="input-group">
                <input ng-model="changepassword1" type="password" class="form-control" aria-label="...">
                <input ng-model="changepassword2" type="password" class="form-control" aria-label="...">
                <button class="btn btn-lg btn-success btn-block" type="submit"
                        ng-click="changePassword(changepassword1,changepassword2)">
                    Passwort ändern
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>